.contacts-popup {
  background-color: #beccd45e;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.contacts-popup_change {
  display: flex;
}

.contacts-popup_content {
  background-color: #8198aa;
  border-radius: 10px;
  max-width: 500px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-title {
  text-align: center;
  font-family: "noto serif";
  font-size: 27px;
  line-height: 30px;
  font-weight: 600;
  color: #021d35;
}

.contacts-subtitle {
  margin: 15px 0;
  font-size: 13px;
}

.contacts-op {
  display: flex;
  gap: 15px;
  margin: 5px 0 15px;
  justify-content: center;
}

.contacts-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-option_img {
  width: 45px;
  border: 2px solid #eff6f3;
  padding: 5px;
  border-radius: 50%;
}

.contacts-option_name {
  font-size: 12px;
  text-align: center;
  width: 100px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contacts-list {
  margin: 2px 0;
  font-size: 13px;
}

.contact-link {
  color: #021d35;
}

.contacts-obs {
  margin: 10px 0;
  font-size: 13px;
  color: #eff6f3;
}

.contacts-popup_close-btn {
  display: flex;
  align-items: center;
  width: 45px;
  border: 2px solid #273f5b;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.4s ease-in-out;
}

.contacts-popup_close-btn:hover {
  background-color: #273f5b91;
  transform: scale(1.1);
  cursor: pointer;
}
