.footer {
  background-color: #131211;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.footer-social-icons {
  display: flex;
  gap: 25px;
  margin-right: 20px;
}

.footer-icon_img {
  width: 40px;
}

.footer-adress {
  color: #eff6f3;
  font-size: 18px;
}
