.footer {
  background-color: #131211;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.footer-social-icons {
  display: flex;
  gap: 25px;
  margin-right: 20px;
}

.footer-icon_img {
  width: 40px;
  transition: transform 0.3s ease-in-out;
}

.footer-icon_img:hover {
  transform: scale(1.2) rotate(-8deg);
  cursor: pointer;
}

.footer-adress {
  color: #eff6f3;
  font-size: 18px;
}

@media (max-width: 768px) {
  .footer {
    padding: 25px 20px;
  }
  .footer-adress {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .footer {
    flex-direction: column;
  }
  .footer-adress {
    margin-top: 10px;
  }
  .footer-social-icons {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .footer-social-icons {
    gap: 20px;
  }

  .footer-icon_img {
    width: 35px;
  }
}
