.home {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
  background-image: url("../images/fundo-claro-modificado.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.home-content {
  padding: 150px 100px 80px 100px;
  display: flex;
  justify-content: center;
  gap: 130px;
}

.home-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.home-info__title {
  font-family: "noto serif";
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  font-weight: 700;
  max-width: 600px;
  color: #021d35;
}

.home-info__subtitle {
  max-width: 600px;
  font-size: 20px;
  line-height: 30px;
  color: rgb(1, 4, 49);
}

.home-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px solid rgb(1, 4, 49);
  padding: 10px 20px;
  height: 240px;
  margin-top: 60px;
}

.home-tag__title {
  font-size: 20px;
  line-height: 30px;
  color: rgb(156, 0, 0);
}

.home-tag__subtitle {
  font-size: 16px;
  line-height: 22px;
}

.home-tag__button {
  margin: 22px 15px;
  padding: 5px;
  width: 80px;
  border: 5px solid rgb(156, 0, 0);
  border-radius: 50px;
  transition: transform 0.4s ease-in-out;
}

.home-tag__button:hover {
  background-color: #beccd4;
  cursor: pointer;
  transform: scale(1.2) rotate(30deg);
}

@media (max-width: 1000px) {
  .home-content {
    padding: 130px 90px 70px 90px;
    gap: 100px;
  }
  .home-info__title {
    font-size: 48px;
    line-height: 58px;
  }

  .home-info__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .home-tag {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .home-content {
    padding: 110px 50px 60px 50px;
    gap: 50px;
  }
  .home-info__title {
    font-size: 40px;
    line-height: 50px;
  }

  .home-info__subtitle {
    font-size: 15px;
    line-height: 20px;
  }
  .home-tag {
    margin-top: 40px;
  }
}

@media (max-width: 580px) {
  .home-content {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .home-info {
    text-align: center;
  }
  .home-tag {
    width: 260px;
    padding: 10px 20px;
    max-height: 240px;
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .home-info__title {
    font-size: 28px;
    line-height: 40px;
  }

  .home-info__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
  .home-tag {
    max-width: 212px;
  }
}
