@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto mono", sans-serif;
  color: #ebebeb;
}

body {
  background-color: #d9d9d9;
  margin: 0 auto;
}

.header {
  max-height: 200px;
  background-color: rgb(1, 4, 49);
}
